/* .abt{
  background-image: url("./img/james-eades-6KHi0Yt2xWE-unsplash.jpg");
  background-size: cover;
} */
.about1{
    margin-left: 50px;
    margin-top: 10px;
    padding-top: 30px;
 


}
.skills{
  position: absolute;
  /* padding-left: 20px; */
  left: 200px;


  
 
  font-family: 'Apple Chancery';

  
}
.svg-about{
  position: relative;
  left: 100px;
  height: 710px;
  
}
