.home{
    justify-content: center;
    align-items: center;
  
}
.home1{
    margin-left: 50px;
    margin-top: 20px;
    justify-content: center;

    
}
.all-body{
    padding-left: 150px;
    align-items: center;
    align-content: flex-end;
    display: flex;
    color: white;
    position: relative;
    margin-left: 130px;

}
.intro-body{
padding-top: 100px;
color: white;
margin-left: 15px;
font-weight: 200;
font-size: 60px;
position: relative;
bottom: 20px;

}
.sub-intro-body{
    color: white;
    margin-left: 15px;
    font-weight: 300;
}

.left-body{
    padding-top: 10px;

}

.right-body{
    /* margin-bottom: 20px; */
    position: relative;
    left: -180px;

}

.home-img {
    border-radius: 40px;
    height: 550px;
    width: 450px;
    margin-left: 100px;
    position: relative;
    right: 100px;

    
   }

   edit{
    color: #00ffe0;
   }

.btn-body {
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 15px;
    height: 50px;
    width: 140px;
    border-radius: 5px;
    border: 1px solid ;
    cursor: pointer;
    border-color: #00ffe0;
    background: transparent;
    color: #00ffe0;
    position: relative;
    left: 2px;
    
    
}


    
.features1{
    color: white;
    list-style: none;
    display: flex;
    margin-left:  500px;
    margin-top: 55px;
    gap: 200px;
    font-family: Apple Chancery;
    padding-top: 118px;
}
   
   