
.contact-me{
/* background-image: url("./img/bg4.jpg");
background-size: cover; */
background-position: center;
margin-top: 80px;
height: 600px;
padding-top: 50px;

 display: flex;
 padding-left: 20px;
 margin-bottom: 400px;


 
 

}
.text-box{

    height: 150px;
    width: 600px;
    border-radius: 5px;
    border: none;
    margin-bottom: 40px;
   padding-top: 20px;
   padding-left: 5px;
   margin-left: 50px;
   
   
   
   
  
   
}
.box-sze{

    width: 600px;
    height: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    padding-left: 5px;
   margin-left: 50px;
 
}
.btn{
 
    height: 45px;
    width: 190px;
    border-radius: 5px;
    
    margin-bottom: 20px;
    border: transparent solid;
    background-color: rgba(176, 176, 176, 0.897);
    cursor: pointer;
    color: white;
    margin-left: 50px;
}
.btn-szn{
    height: 45px;
    width: 190px;
    border-radius: 5px;
    margin-bottom: 20px;
    border:  #00ffe0 solid ;
    background-color:transparent;
    cursor: pointer;
    color:  #00ffe0;
    margin-left: 50px;
    
}

.info{
    margin-top: 55px;
    align-content: flex-end;
    margin-left: 250px;
    font-size: 17px;
    
    
}
.contact{
 position: relative;
 left: -20px;
 


   
}
ul li{
    list-style: none;
   
    padding: 10px;
   
}
.icon{
   position: relative;
   top: 3px;
   margin-right: 6px;
}