.nav-edit{
    background-image: url("./img/bg3.jpg");
    background-size: cover;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}



.navlinks{

  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  text-decoration: none;

}
.logo{
    color: white;
    font-family: Apple Chancery;
    margin-left: 1em;
}
.nav-tabs {
    font-family: Apple Braille;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    color: aliceblue;
   
    list-style: none;
    gap: 50px;
    margin-right: 1em;
    
  
}   
.nav-tabs :hover{
    color: #00ffe0;
    cursor: pointer;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    
}

.line{
    background-color: rgb(131, 130, 130);
    height: 3px;
    width: 100%;
    box-shadow: 0px 10px 35px 0px rgba(228, 220, 220, 0.41);
}