.nav-edit{
    width: auto;
    
}
.navlinks{

  background-color: rgba(3, 3, 3, 0.957); 
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-left: auto;

  width: auto;

}
.logo{
    color: white;
    font-family: Apple Chancery;
}
.nav-tabs {
    font-family: Apple Braille;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   
    list-style: none;
    gap: 100px;
    margin-left: auto;
   
  
  
    
}   
.nav-tabs :hover{
    color: aqua;
    cursor: pointer;
    
}
.line{
    background-color: rgb(131, 130, 130);
    height: 3px;
    width: auto;
    box-shadow: 0px 10px 35px 0px rgba(228, 220, 220, 0.41);

    
}