.icons {
    color: antiquewhite;
    display: flex;
    margin-top: 125px;
     margin-left: 500px; 
    font-size: large;
    align-items: center;
    gap: 30px;
    
    
   }
   .icons :hover{
    cursor: pointer;
   }
   