.icons {
    color: antiquewhite;
    display: flex;
    margin-top: 200px;
     margin-left: 655px; 
    font-size: 20px;
    align-items: center;
    gap: 30px;
    
    
   }
   .icons :hover{
    cursor: pointer;
   }
   .email{
    margin-left: 600px;
    font-size: 20px;
   }
   