.work1{
    margin-left: 50px;
    margin-top: 20px;

}
.project-name{
    align-items: center;
    margin-left: 60px;
    font-family: 'Apple Braille';
}
.card1{

background: transparent;
height: 300px;
width: 300px;
border-radius: 10px;
margin-left: 15px;
margin-top: 150px;
filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.464));
align-items: center;
border: 3px solid rgb(107, 197, 174);
}


.cardpic{
    height: 300px;
    width: 300px;
    /* margin-left: 10px; */
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    
}
.cardpic:hover{
    background : #2d2b2ba0;
}
.project-about{
   

font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 25px;
text-align: center;
color: #F4F4F4;

}
.view-btn{
align-items: center;
color: #00FFE0;
 box-sizing: border-box;
background: transparent;
width: 140px;
height: 40px;
margin-left: 95px;
border: 2px solid #00FFE0;
filter: drop-shadow(0px 5px 5px rgba(2, 2, 2, 0.25));
border-radius: 5px;
cursor: pointer;


}


.all-card{
    display: flex;
    gap: 200px;
    padding: auto;
    left: 120px;
    margin-left: 100px;
}