.carrousel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 3rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type:x mandatory;
    scrollbar-width: none;
   margin: 0%;
    padding-top: 100px;
  

} 
.card{
    background-color: whitesmoke;
    border-radius: 30px;
    width: 450px;
    height: 250px;
    text-align: center;
    color: black;
    cursor: pointer;
    scroll-snap-align: start;
}